import cn from "classnames";
import { {{pascalCase name}}Props } from "./types";
import styles from "./{{pascalCase name}}.module.css";

export const {{pascalCase name}} = ({
  children,
  className,
  ...restProps
}: {{pascalCase name}}Props) => {
  return (
    <div className={cn(styles.wrapper, className)} {...restProps}>
      {children}
    </div>
  );
};
